<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common :: headerFragment">
<title>Example application in Spring MVC, Thymeleaf and
	CoffeeScript</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</a> <a class="brand" href="#" th:href="@{/}">Home</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#" th:href="@{/about}">About</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="hero-unit">
					<h2>I see you're interested in more!</h2>
					<p>This example application integrates Spring MVC with
						Thymeleaf and CoffeeScript. It also uses Bootstrap. It came out of
						my testing with these technologies and I decided to share the
						knowledge. Feel free to go to Bitbucket to get the source, the
						readme file and etc. Every found issue and given idea is warmly
						welcomed!</p>
					<p>
						<a
							href="https://bitbucket.org/moondowner/thymeleaf-coffeescript-springmvc-example"
							target="_blank" class="btn btn-info"> <i
							class="icon-random icon-white"></i> Go to Bitbucket
						</a>
					</p>
					<h2>About me</h2>
					<p>
						You can find me on <a href="https://twitter.com/#!/moondowner"
							target="_blank" class="btn">twitter </a> and <a
							href="https://moondowner.wordpress.com" target="_blank"
							class="btn">wordpress </a>.
					</p>
				</div>
			</div>
		</div>
	</div>
<body th:include="fragments/scripts :: scriptsFragment"></body>
</body>
</html>
