<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common :: headerFragment">
<title>Example application in Spring MVC, Thymeleaf and
	CoffeeScript</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</a> <a class="brand" href="#" th:href="@{/}">Home</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="#" th:href="@{/about}">About</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Demos</li>
						<li><a id="example1" href="#">Example 1</a></li>
						<li><a id="example2" href="#">Example 2</a></li>
						<li><a id="example3" href="#">Example 3</a></li>
						<li><a id="example4" href="#">Example 4</a></li>
					</ul>
				</div>
			</div>
			<!--/span-->
			<div class="span9">
				<div id="windowContent" class="hero-unit">
					<h1>Hello!</h1>
					<p>Select one of the examples on the left side and it be loaded
						in this area here.</p>
					<p>
						<a href="#" th:href="@{/about}" class="btn btn-primary"> <i
							class="icon-eye-open icon-white"></i> Learn more about this app</a>
					</p>
				</div>
			</div>
		</div>
	</div>
<body th:include="fragments/scripts :: scriptsFragment"></body>
</body>
</html>
